@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Rubik+Doodle+Shadow&family=Smooch&display=swap");

.multy {
  // background: linear-gradient(to bottom right, #0400ff, #ae70ff) no-repeat;
  background-image: url("/src/assets/img/back.jpeg");
  background-position: center top 5%;
  background-size: 200%;
  border-radius: 35px;
  margin-top: 145px;
  padding: 30px;
  padding-bottom: 15px !important;
  padding-top: 20px !important;
  margin-bottom: 30px;

  > div {
    > p {
      font-size: 20px;
      font-weight: 1000;
      margin: 10px;
      margin-left: 0;
      background: #ffffff;
      border-radius: 25px;
      // padding-left: 7px;
      // padding-right: 7px;
      text-align: center;
      width: 100%;
      padding-top: 7px;
      padding-bottom: 7px;
      color: #000;
    }
  }
  > div {
    > div {
      display: flex;
      > input {
        background-color: white !important;
        height: 28px !important;
        border-radius: 50px;
        width: calc(100% - 60px);
      }
      > div {
        background: #ffffff;
        margin: 0;
        padding: 12px;
        margin-left: 10px;
        // padding-top: 5px;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 1000;
        height: 25px;
        width: 25px;
        margin-top: 4px;
        text-align: center;
        color: #000;
        > p {
          padding-top: 0px;
          position: relative;
          margin: 0;
          top: -4px;
        }
      }
    }
  }
}

.score {
  display: flex;

  > div {
    // background-image: url("/src/assets/img/back.jpeg");
    background: black;
    background-position: right 2% bottom 3.8%;
    border-radius: 35px;
    padding-left: 15px;
    margin-top: 10px;
    margin-right: 20px;

    > p {
      font-size: 40px;
      rotate: 45deg;
      font-family: "Smooch";
      margin: 0;
      margin-top: 15px;
      margin-right: 40px;
      padding-bottom: 30px;
    }
  }

  > span {
    font-size: 58px;
    margin-top: 20px;
    display: flex;
  }
}

.parent {
  width: calc(30% - 0px);
}

.sqqi {
  font-size: 60px;
  font-family: "Smooch";
  margin-top: 5px;
  margin-right: 10px;
}

.win {
  background: linear-gradient(to bottom right, #450e8c, #d55d12) no-repeat;
  height: 132px;
  border-radius: 35px;
  padding-left: 65px;
}
