.header {
  display: flex;
  margin: 35px;
  background: #1c0c36;
  border-radius: 10px;
  padding: 35px;
  width: calc(100% - 140px);

  > div {
    background-color: #8e259a;
    margin-left: 35px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      margin-left: auto;
      margin-right: 15px;
      border-radius: 10px;
    }

    > p {
      padding: 0;
      margin: 0;
      margin-left: 35px;
      font-size: 25px;
    }
    > svg {
    }
  }
}

.disc {
  background-color: transparent !important;
  margin-left: 0 !important;
  width: auto !important;
}
